
body{

    /*加入 引用  Microsoft JhengHei 微軟正黑體*/

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji", "Microsoft JhengHei" ;


}

.navbar{

    border-width: 5px !important;

}


.carousel-item img{

    height: 500px; 


}

.carousel-caption {

    background: rgba(0,0,0,0.5)

}


@media(max-width：768px ){

    .myimg{

        order: 1;

    }

    .mytext{

        order: 2;

    }


}

#jb1{

    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url(../img/Geography_03.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 63px);
    margin-bottom: 0px;
    color: white;
}

.card-img-top{

    height: 200px;
    object-fit: cover;


}

.card-body{
    max-height: 200px;
    overflow-y: auto;

}